* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}
.darkSide {
  padding: 0px 200px;
  background-color: #1f2937;
}
header {
  display: flex;
  background-color: #1f2937;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 16px;
}
.logo {
  color: #f9faf8;
  font-size: 24px;
}
.hero {
  display: flex;
  margin-top: 100px;
  gap: 40px;
  background-color: #1f2937;
  padding-bottom: 100px;
}
.text {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(136, 135, 135, 0.281);
}
.heading {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}
.paragraph {
  color: #e5e7eb;
  font-size: 18px;
}
button {
  background-color: #3882f6;
  color: white;
  padding: 5px 20px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
}
.secondHeading {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 50px;
}
.smallImage {
  width: 150px;
  height: 150px;
  border: #3882f6 solid;
  border-radius: 12px;
}
.contentPart {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.description {
  text-align: center;
}
.imageCell {
  max-width: 150px;
}
.secondPart {
  margin: 50px 250px 100px 250px;
}
.inspirationalQuote {
  background-color: #e5e7eb;
  padding: 100px 250px;
}
.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}
.author {
  font-weight: bold;
  text-align: end;
}
.messageContent {
  display: flex;
  flex-direction: column;
}
.alertWindow {
  display: flex;
  background-color: #3882f6;
  justify-content: space-between;
  padding: 50px 100px;
  border-radius: 8px;
}
.callToAction {
  padding: 100px 200px;
}

.signUpButton.second {
  border: white solid;
}

.title {
  font-weight: bold;
  color: #f9faf8;
}
.message {
  font-size: 16px;
  color: #e5e7eb;
}
footer {
  color: #e5e7eb;
  font-size: 16px;
  background-color: #1f2937;
  text-align: center;
  margin: auto;
  padding: 30px 0;
}
